.animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100; /* Ensure it is deeply behind other elements */
    background-size: 400% 400%;
    animation: bgAnimation 10s ease infinite;
    pointer-events: none; /* Prevents interaction issues */
}


/* Keyframes for the background animation */
@keyframes bgAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
