/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    padding: 0.5em 1em; /* Reduce padding to make navbar thinner */
    background-color: #050505;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Navbar header */
.navbar h1 {
    font-size: 1.8em;
    color: #00ff00;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin: 0;
    display: inline-block;
}

.navbar h1:hover {
    color: #0d0d0d;
    text-shadow: 0 0 5px #00ff00;
    background: linear-gradient(135deg, #0d0d0d 0%, #1a1a1a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease, text-shadow 0.3s ease, background 0.3s ease;
}

@keyframes background-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
